extends layout

block content
  .w3-top
    .w3-bar.w3-teal
      a.w3-bar-item.w3-button(href='/') Teste DAW
  br
  .w3-container.w3-margin
    h1(style='text-align: center;') Lista de Classes
    .w3-container.w3-margin(style='text-align: center;')
      button.w3-button.w3-teal.w3-round-large
        a(href="/classes") 
          h3 Classes
      br
      br
      br
      button.w3-button.w3-teal.w3-round-large
        a(href="/ti") 
          h3 Termos de Índice
